
/*------------------------ composants basiques ----------------------------*/
/*------------------------ composants basiques ----------------------------*/
/*------------------------ composants basiques ----------------------------*/
html
{
    background-color: #292929;
}
body
{
    background-color: #292929;
    margin: 0%;
    padding: 0%;
    height: 100vh;
}
main
{
    color: white;
    background-color: #292929;
}
 
/*-------------------- header -----------------------------*/
/*-------------------- header -----------------------------*/
/*-------------------- header -----------------------------*/
header
{
    background-image: url("pictures/rouen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;  
}
#conteneur
{
    display: flex;
    justify-content: space-around;
    height: 80%;
    margin-top: 0;
    
}
#conteneur15
{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 10%;
}
#panier
{
    margin-top: 2%;
    width: 40%;
}
#conteneur1
{
	display: flex;
    justify-content: space-around;
    height: 10%;
	margin-bottom: 5%;
    padding: 0;
}
#conteneur2
{
    display: flex;
    justify-content: space-around;
    width: 15%;
    padding: 0;
    margin:0;
}


#Logo_CESI
{
    height: 30%;
    margin-top: 1%;
    float: top;
}

#Logo_BDE
{
    height: 63%;
    margin-top: 5%;
    float: top;
}
#panier
{
    height: 50%;
    width: 70%;
    margin-top: 15%;
    padding: 0;

}
#btn
{
   text-align: center;
   border: none;
   color: black;
   padding: 0;
   margin-top: 1%;
   font-size: 20px;
   width: 10%;
   height: 80%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   background-color: rgb(255, 194, 82);
   border-radius: 50px 50px 50px 50px;
}
#btn:hover
{
    background-color: #fff;
    text-decoration: none;
    color: #000;
}
#btn:hover::before
{
    height: 100%;
}

#btn1
{
   text-decoration: none;
   text-align: center;
   border: none;
   padding: 0;
   margin-top: 3%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   color: black;
   background-color: rgb(255, 194, 82);
   border-radius: 30px 30px 30px 30px;
}
#btn1:hover
{
    background-color: #fff;
    color: black;
    text-decoration: none;
}

/*------------------ Accueil ----------------*/
/*------------------ Accueil ----------------*/
/*------------------ Accueil ----------------*/
#slider
{
    margin-top: 7%;
    margin-bottom: 7%;
    height: 50%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.text
{
    border: none;
    border-radius: 55px 55px 55px 55px;
}

/*--------------------- Page mentions légales ------------------------*/
/*--------------------- Page mentions légales ------------------------*/
/*--------------------- Page mentions légales ------------------------*/
#paperasse
{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 4%;
}

#form
{
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

/*------------------------------ Connexion et inscription -----------------------------------*/
/*------------------------------ Connexion et inscription -----------------------------------*/
/*------------------------------ Connexion et inscription -----------------------------------*/
#signin-button
{
    cursor: pointer;
    background-color: rgb(255, 194, 82);
    color: black;
}
#signin-button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
}
#login-button
{
    cursor: pointer;
    background-color: rgb(255, 194, 82);
    color: black;
}
#login-button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
}

/*------------------- bouton2 -----------------------------*/
/*------------------- bouton2 -----------------------------*/
/*------------------- bouton2 -----------------------------*/
#btn2
{
    text-decoration: none;
   text-align: center;
   border: none;
   color: black;
   padding: 0;
   margin-top: 1%;
   font-size: 30px;
   width: 100%;
   height: 300%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   background-color: rgb(255, 194, 82);
   border-radius: 50px 50px 50px 50px;
}
#btn2:hover
{
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

/*------------------ Admin -----------------------*/
/*------------------ Admin -----------------------*/
/*------------------ Admin -----------------------*/
#signaler
{
    justify-content: column;
    text-align: center;
    align-items: center;
    height: 10%;
    margin-bottom: 5%;
    padding: 0;
}
#adminpage
{
    display: flex;
    justify-content: space-around;
    margin-top: 7%;
}
#download
{
    justify-content: column;
    text-align: center;
    align-items: center;
    height: 10%;
    margin-bottom: 5%;
    padding: 0;
}

/*------------------- Boutique --------------------*/
/*------------------- Boutique --------------------*/
/*------------------- Boutique --------------------*/
#wrap
{
    display: flex;
    flex-wrap: wrap;
}
#btnadd
{
   text-decoration: none;
   text-align: center;
   border: none;
   color: black;
   padding: 0;
   margin-top: 1%;
   font-size: 20px;
   width: 100%;
   height: 200%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   background-color: rgb(10, 143, 10);
   border-radius: 50px 50px 50px 50px;
}
#btnsuppr
{
   text-decoration: none;
   text-align: center;
   border: none;
   color: black;
   padding: 0;
   margin-top: 1%;
   font-size: 20px;
   width: 100%;
   height: 300%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   background-color: rgb(124, 6, 6);
   border-radius: 50px 50px 50px 50px;
}
#produit
{   background-size: 50px;
    max-width: 22%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border : 2px solid white;
    border-radius: 35px 35px 35px 35px;
}
#imageproduit
{
    padding: 0px;
    max-height: 50%;
    width: 20%;
    size: 50%;
}

/*-------- Event ----------*/
/*-------- Event ----------*/
/*-------- Event ----------*/
#event
{
    background-size: 50px;
    max-width: 22%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border : 2px solid white;
    border-radius: 35px 35px 35px 35px;
}
#liencar
{
    text-decoration: none;
    color: white;
}
input
{
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border: 1px white;
}

/*------- footer----------*/
/*------- footer----------*/
/*------- footer----------*/
footer
{
    background-color: white;
    background-position: center; 
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
#footerlogo
{
    display: flex;
    justify-content: space-around;
    height: 60%;
    width: 50%;
    margin-top: 0%;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

/*--------------------- Page mentions légales ------------------------*/
/*--------------------- Page mentions légales ------------------------*/
/*--------------------- Page mentions légales ------------------------*/
#paperasse
{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 4%;
}


                    /*----------------------------------------------------------------------*/
                    /*----------------------------------------------------------------------*/
                    /*----------------------------------------------------------------------*/
                    /*----------------------------------------------------------------------*/



@media all and (max-device-width: 601px)
{
    html
    {
        background-color: #292929;
    }

    header
    {
        background-image: none;
        width: 100%;
        height: 30%;    
    }
    #conteneur
    {
        background-color: rgb(255, 194, 82);
        height: 70%;
    }
    #Logo_BDE
    {
       width: 35%;
    }
    #Logo_CESI
    {
        display: none;
    }

    #conteneur1
    {
        background-color: rgb(255, 194, 82);
        display: flex;
        flex-wrap: wrap;
        height: 80%;
	    margin-bottom: 5%;
        padding: 0;
        margin-top: 0;
    }
    #btn
    {
        margin-bottom: 5%;
        margin-top: 3%;
        border: none;
        color: black;
        padding: 0;
        font-size: 150%;
        width: 30%;
        height: 20%;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50px 50px 50px 50px;
    }
    #btn:hover
    {
        background-color: #000;
        color: #fff;
    }
    #btn1:hover
    {
        background-color: #000;
        color: #fff;
    }
    #btn1
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #fff;
        width: 40%;
        height: 20%;
        margin-top: 10%;
    }
    body
    {
        height: 100%;
        background-color: #292929;
    }
    #wrap
    {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #produit
    {
        margin-left: 0;
        margin-right: 0;
        width: 1000%;
    }
    #signin-button
    {
        cursor: pointer;
        background-color: white;
        color: black;
    }
    #signin-button:hover
    {
        cursor: pointer;
        background-color: #000;
        color: #fff;
    }
    #login-button
    {
        cursor: pointer;
        background-color:white;
        color: black;
    }
    #login-button:hover
    {
        cursor: pointer;
        background-color: #000;
        color: #fff;
    }
	
    /*------- Page mentions légales----------*/
    #paperasse
    {
        margin-top: 7%;
        margin-left: 10%;
        margin-right: 9%;
        margin-bottom: 7%;
    }
    
    /*------- footer----------*/
    footer
    {
        position: bottom;
        background-color: #fff;
        height: 9vh;
        margin-bottom: 0%;
    }
    #footerlogo
    {
        width: 97%;
    }
    
    #facebook #twitter #youtube #gmail
    {
        width: 2%;
    }
    
}
