html
{
    background-color: #000;
}
body
{
    background-color: black;
    margin: 0%;
    padding: 0%;
    height: 100vh;
}


header
{
    background-image: url("pictures/rouen.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;  
}

#conteneur
{
    display: flex;
    justify-content: space-around;
    height: 80%;
    margin-top: 0;
    
}

#conteneur1
{
	display: flex;
    justify-content: space-around;
    height: 10%;
	margin-bottom: 5%;
    padding: 0;
}
#conteneur2
{
    display: flex;
    justify-content: space-around;
    width: 15%;
    padding: 0;
    margin:0;
}


#Logo_CESI
{
    height: 30%;
    margin-top: 1%;
    float: top;
}

#Logo_BDE
{
    height: 65%;
    margin-top: 5%;
    float: top;
}
#panier
{
    height: 10%;
    margin: 0;
    padding: 0;

}
#btn
{
   text-align: center;
   border: none;
   color: black;
   padding: 0;
   margin-top: 1%;
   font-size: 20px;
   width: 10%;
   height: 80%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   background-color: rgb(255, 194, 82);
   border-radius: 50px 50px 50px 50px;
}
#btn:hover
{
    background-color: #fff;
    text-decoration: none;
    color: #000;
}
#btn:hover::before
{
    height: 100%;
}

#btn1
{
   text-decoration: none;
   text-align: center;
   border: none;
   padding: 0;
   margin-top: 3%;
   font-size: 20px;
   width: 10%;
   height: 10%;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   color: black;
   background-color: rgb(255, 194, 82);
   border-radius: 30px 30px 30px 30px;
}
#btn1:hover
{
    background-color: #fff;
    color: black;
    text-decoration: none;
}


main
{
    color: white;
    background-color: black;
}
.text
{
    border: none;
    border-radius: 55px 55px 55px 55px;
}
#paperasse
{
    margin-left: 2%;
    margin-right: 5%;
}
#form
{
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}
#signin-button
{
    cursor: pointer;
    background-color: rgb(255, 194, 82);
    color: black;
}
#signin-button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
}
#login-button
{
    cursor: pointer;
    background-color: rgb(255, 194, 82);
    color: black;
}
#login-button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: black;
}
input
{
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    border: 1px white;
}

footer
{
    background-color: white;
    background-position: center; 
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
#footerlogo
{
    display: flex;
    justify-content: space-around;
    height: 60%;
    width: 50%;
    margin-top: 0%;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}



                    /*----------------------------------------------------------------------*/
                    /*----------------------------------------------------------------------*/
                    /*----------------------------------------------------------------------*/
                    /*----------------------------------------------------------------------*/


@media all and (max-device-width: 480px)
{
    html
    {
        background-color: black;
    }

    header
    {
        background-image: none;
        width: 100%;
        height: 20vh;
        position: fixed;
        
    }
    #conteneur
    {
        background-color: rgb(43, 80, 145);
        height: 70%;
    }
    #Logo_BDE
    {
       margin-top: 1.5%;
       width: 27%;
       height: 95%;

    }
    #Logo_CESI
    {
        display: none;
    }

    #conteneur1
    {
        background-color:rgb(43, 80, 145);
	    display: flex;
        justify-content: column;
        height: 30%;
	    margin-bottom: 5%;
        padding: 0;
        margin-top: 0;
    }
    #btn
    {
        margin-bottom: 5%;
        margin-top: 1%;
        border: none;
        color: black;
        padding: 0;
        font-size: 13px;
        width: 20%;
        height: 60%;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50px 50px 50px 50px;
    }
    #btn1
    {
        display: none;
    }
    body
    {
        background-color: #000;
    }
    footer
    {
        background-color: #fff;
        height: 10vh;
        margin-bottom: 0%
    }
    #footerlogo
    {
        width: 97%;
    }
    #mentions
    {
        font-size: 70%;
    } 
    #facebook #twitter #youtube #gmail
    {
        width: 2%;
    }
    
}
